@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding:0;
    margin:0;
}

* {
    box-sizing: border-box;
}

.card {
    @apply flex bg-white bg-opacity-80 hover:bg-opacity-60  flex-col justify-between mb-5 block rounded-lg border border-gray-700 shadow-md hover:shadow-xl 
}



  .default-button{
    @apply rounded bg-gray-400 py-2 px-4 text-black shadow outline-none hover:bg-gray-300 active:bg-gray-400
 }
 
  .delete-button {
    @apply rounded  bg-red-600 py-2 px-4 shadow outline-none hover:bg-red-700 active:bg-red-800;
  }
  .edit-button {
    @apply rounded  bg-green-300 py-2 px-4 shadow outline-none hover:bg-green-500 active:bg-green-700;
  }
  .dropdown-link {
    @apply flex p-2 bg-green-300 hover:bg-green-500 bg-opacity-80 hover:bg-opacity-80 ;
}
.nav-bar {
  @apply flex p-2 text-white text-lg hover:text-green-500
 }
.alert-error {
  @apply  my-3 rounded-lg bg-red-400 p-3 text-red-600;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-700 p-3 text-green-300;
}

  input,
select,
textarea {
    @apply rounded border p-2 outline-none ring-green-300 focus:ring;
}
